body {
    margin: 0;
    padding: 0;
    visibility: hidden;
}


form {
    display: inherit;
    flex-direction: inherit;
    margin-top: 10px;
}



#welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-family: 'Teko', sans-serif;
}

#welcome-container #error-msg{
    margin-top: 4rem;
    background-color: red;
    opacity: 50%;
}

.input-login{
    min-height: 2rem;
    margin-bottom: 0.5rem;
}


#btn-submit{
    margin-top: 0.5rem;
    width: fit-content;
    align-self: center;
}

#calender{
    width:500px;
    height: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#calender #cal-header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    padding: 5px;
   
}


#calender #cal-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: lightblue;
    gap: 15px;

}

.day{
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.selected{
    background-color:antiquewhite;
}



.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: slategray;
}


footer {
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    width: 100%;

}

footer p {
    margin: 0;
}

a {
  color: #00B7FF;
}
