body {
    margin: 0;
    padding: 0;
    visibility: hidden;
}


form {
    display: inherit;
    flex-direction: inherit;
    margin-top: 10px;
}


#welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-family: 'Teko', sans-serif;
}


#welcome-container #error-msg{
    margin-top: 4rem;
    background-color: red;
    opacity: 50%;
}


.input-login{
    min-height: 2rem;
    margin-bottom: 0.5rem;
}


#btn-submit{
    margin-top: 0.5rem;
    width: fit-content;
    align-self: center;
}

#right-teetimes {
    width: 75%;
    float: right;
    background-color: whitesmoke;
    height: 100vh;
    font-family: 'Noto Sans' ,' Poppins' ,sans-serif;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    box-sizing: border-box;
    align-content: flex-start;
}

.teetime-row{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
}

.teetime-container{
    width: calc(25% - 6rem);
    height: calc(100% - 6rem);
    border: 3px solid #5e9332;
    margin: 0 3rem;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
}


.missingTeeTimes{
    width: 100%; 
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teetime-TimeLabel{
    font-size: 1.7em;
    font-weight: 550;
    text-align: left;
    margin: 10px 0 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.start-hole{
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}




#left-navbar 
{
    width: 25%;
    float: left;
    outline: none;
    box-sizing: border-box;
    background-color: #fff;
    height: 100vh;
    font-family: 'Noto Sans', 'Poppins' ,sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
}




/* CALENDER  */

#calender{
    margin: 0;
    display: flex;
    flex-direction: column;
}


#calender #cal-header {
    background-color: #5e9332;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.5rem;
    padding: 5px;
    font-size: larger;
   
}


#calender #cal-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    gap: 10px;

}

.day{
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.day-label{
    cursor: default;
}

.previous-day{
    cursor:not-allowed;
    color: #c2c9d6;
}



.calender-selected{
    background-color:antiquewhite;
}


.players-selected{
    background-color: green;
    color: white;
}

/* ------------------------------- */



/* Number of players toggle */
#num-players {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    overflow: hidden;
    height: 3rem;
}

.num-players-toggle{
    position: relative;
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.num-players-toggle span{
    font-size: large;
}


h5 {
    
    line-height: 18px;
    font-size: larger;
    font-weight: 400;
    margin: 2rem 0 0.5rem 0;
}
    


#hole-select {
    height: 3rem;
    font-size: large;
    cursor: pointer;
}

#hole-select option {
    font-size: large;

}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: slategray;
}


footer {
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    width: 100%;

}

footer p {
    margin: 0;
}

a {
  color: #00B7FF;
}
