<!DOCTYPE html>
<html lang="en-us">
    <%- include('partials/head') %>
    <body>
        <div id="calender">
            <div id="cal-header">
                <div>previous month</div>
                <div id="current-month"></div>
                <div>next month</div>
            </div>
            <div id="cal-dates">
                <div class="day">SUN</div>
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day selected">SAT</div>
            </div>
        </div>
    </body>
    <script src="javascripts/client.js"></script>


</html>