<!DOCTYPE html>
<html lang="en-us">
    <%- include('partials/head') %>
    <body>
        <div id="left-navbar">
            <h5 id="calender-label">Date</h5>
            <div id="calender">
                <div id="cal-header">
                    <div style="visibility: hidden;">previous month</div>
                    <div id="current-month"></div>
                    <div style="visibility: hidden;">next month</div>
                </div>
                <div id="cal-dates">
                    <div class="day day-label">SUN</div>
                    <div class="day day-label">MON</div>
                    <div class="day day-label">TUE</div>
                    <div class="day day-label">WED</div>
                    <div class="day day-label">THU</div>
                    <div class="day day-label">FRI</div>
                    <div class="day day-label">SAT</div>
                </div>
            </div>

            <h5>Players</h5>
            <div id="num-players">
                <button class="num-players-toggle">
                    <span>2</span>
                </button>
                <button class="num-players-toggle" style="border-left: solid 1px #e0e0e0">
                    <span>3</span>
                </button>
                <button class="num-players-toggle" style="border-left: solid 1px #e0e0e0">
                    <span>4</span>
                </button>
                <button id="default-players" class="num-players-toggle" style="border-left: solid 1px #e0e0e0;">
                    <span>Any</span>
                </button>
            </div>

            <h5 for="hole-select">Hole Selection</h5>
            <select name="hole-select" id="hole-select">
                <option>Any</option>
                <option>9 Holes</option>
                <option>18 Holes</option>
            </select>


        </div>

        <!--  -->
        <div id="right-teetimes">
            <% if (Array.isArray(teetimes)) { %>
                    <% teetimes.forEach(time => { %>
                        <div class="teetime-container"><%= time.startTime %></div>
                    <% });%>
            <% } else { %>
                <div class="missingTeeTimes"> <span>NO TEE TIMES AVAILABLE.</span></div>
            <% } %>
        </div>
         
        
    </body>
    <script src="javascripts/client.js"></script>


</html>