
<!DOCTYPE html>
<html lang="en-us">
    <%- include('partials/head') %>
    <body>
        <div id="page-container">
            <div id="content">
                <div id="welcome-container">
                    <h1>Welcome to Golf Bot. Log in to get started.</h1>
                </div>
            </div>
            <%- include('partials/footer') %>
        </div>
    </body>
</html>