
<!DOCTYPE html>
<html lang="en-us">
    <%- include('partials/head') %>
    <body>
        <div id="content">
            <div id="welcome-container">
                <h1>Welcome to Golf Bot!</h1>
                <h1>Log in to get started</h1>
                <form action="/dashboard" method="POST" >
                    <input class="input-login" id="input-username" type="text" placeholder="email">
                    <input class="input-login" id="input-password" type="password" placeholder="password">
                    <button id="btn-submit" type="submit">Login</button>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>