<!DOCTYPE html>
<html lang="en-us">
    <%- include('partials/head') %>
    <body>
        <div id="reserve-full-page">
            <div id="reserve-content">
                <div style="width: 60%;border: 1px solid lightgray;border-radius: 12px; height:70%">
                    <div style="padding:1rem 2rem 0 2rem;">
                        <h3 style="margin:0;font-weight:300">Customize your Reservation</h3>
                        <div style="font-size:1em ;color: rgba(114, 112, 112, 0.658);margin-top:5px">
                            <span>Let us know who is playing with you below.</span>
                        </div>
                        <div id="customize-players">
                            <% for(let i = 0; i < numPlayers; i++){ %>
                                <div class="customize-cell">
                                    <h3 class="customize-cell-label">Player <%=i + 1%> </h3>
                                    <div class="customize-cell-content">
                                        <%if (i === 0) { %>
                                            <input class="customize-cell-input" type="text" value="<%= fullName%>" readonly="true" style="cursor: default">
                                        <% } else {%>
                                            <input class="customize-cell-input" type="text" placeholder="Rename Player <%=i + 1%>">
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    <script src="javascripts/client.js"></script> 
</html>